body
{
    background-color: rgb(65, 167, 158);
    
}
#title
{
    text-align: center;
    
}

.picture
{
    display: block;
     margin: 0 auto
}

.Info{
    flex-grow: 1;
    background-color: rgb(46, 148, 63);
    text-align: left;
    padding: 1em;
}