body
{
    background-color: rgb(65, 167, 158);
    
}
#title{
    text-align: center;
}


div{
    background-color: blanchedalmond;
}


@media (max-width: 1400px)
{
    .videoStyle
    {
        width: calc(100vw - 100px);
        text-align: center;
    }
}