body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 180px;
  background-image: url('../Images/skrot-bild.jpg');
  background-size: 40em;
  border: 5px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}
.card a {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: blue;
}
.nav {
  margin-top: 30px;
}

.nav a {
  margin-right: 10px;
}

.mail
{
    color: red(252, 5, 5);
    font-weight: bold;
}

a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(173, 128, 173);
    padding: 1em;
    margin: 0;
    text-decoration: none;
    color: rgb(221, 221, 168);
    margin-right: 40px;
    border-radius: 12px;
}

a:hover
{
    background-color: rgb(87, 15, 15);
    color: aliceblue;
}


@media(min-width: 601px) {
footer
{
  display: flex;
  flex-direction: row;
}
}


@media(max-width: 600px) {
footer
{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  
}
}